/*
 Theme Name:   WP Bootstrap Starter Child
 Theme URI:    http://example.com/
 Description:  WP Bootstrap Starter Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     wp-bootstrap-starter
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  wp-bootstrap-starter
*/

/* General Layout */

#page-sub-header {
	display: none;
}

#primary {
	width: 100%;
	padding: 0px 15px 0px 15px;
}

body #content.site-content{
	padding-top: 16px;
	padding-bottom: 20px;
}

#logo-image {
	display: none;
	/* position: absolute;
	top: 0; right: -200px; */
}

#logo-text-top{
	font-family: "Times New Roman",Times New Roman;
	color: black;
	width: 100%;
	text-align: right;
}

#logo-text-top h1{
	margin-bottom: 0px;
}

#logo-text-bottom{
	border-top: 1px solid #1c3767;
	font-size: 21px;
	color: black;
	float: right;
}

.navbar-brand {
	display: none;
}

h1.entry-title,
h1.page-title{
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding-top: 0.5rem; padding-bottom: 0.5rem;
	text-transform: initial;
}

#colophon{
	padding-top: 0 !important;
}

/* Font Size */
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2.0em;
}
h3 {
	font-size: 1.5em;
}


/* Header Menu */

@media screen and (min-width: 992px) {
body #masthead{
	box-shadow: 0 0 0 0 #fff;
}

.header-container{
	margin-top: 1rem;
	margin-bottom: 3rem;
}

#menu-mainmenu{
	width: 100%;
	display: block;
}

#menu-mainmenu li{
	width: 100%;
}

body #masthead .navbar-nav > li > a{
	color: black;
	padding: 4px 4px 4px 0px;
	font-size: 18px;
}

body .dropdown-item:focus{
	background-color: white;
}

body .navbar-nav>li>.dropdown-menu,
#menu-mainmenu>.show>.dropdown-menu{
	box-shadow: none;
	border: none;
	margin:0;
	top: -9px;
	left: 150px;
	width: 90%;
}

body .navbar-nav>li>.dropdown-menu>.menu-item-has-children>.dropdown-menu {
	box-shadow: none;
	border: none;
	top: -84px;
}

#menu-mainmenu>.open>.dropdown-menu>.active>a,
body #menu-mainmenu>.open>.dropdown-menu>.open,
body #menu-mainmenu>.open>.dropdown-menu>.open>.active>a,
#menu-mainmenu .current_page_item>a,
#menu-mainmenu>.current_page_item>ul>.current_page_item>a,
#menu-mainmenu>.current_page_ancestor>ul>.active{
	font-family: "Arial Narrow",Arial,sans-serif !important;
	font-size: 18px;
	font-weight: 600 !important;
}

#menu-mainmenu>.current-menu-ancestor,
#menu-mainmenu>.current-menu-ancestor>ul>.current-menu-ancestor>a,
#menu-mainmenu>.current-menu-ancestor>ul>.current-menu-ancestor>ul>.active>a{
	font-family: "Arial Narrow",Arial,sans-serif;
	font-size: 18px;
	font-weight: 600;
}

#menu-mainmenu>.show>ul,
#menu-mainmenu>.show>ul>.open>ul{
	display: flex;
	justify-content: space-between;
}

#menu-mainmenu,
#menu-mainmenu .menu-item-has-children .dropdown-menu{
	font-family: "Arial Narrow",Arial,sans-serif !important;
	font-size: 18px;
}

#menu-mainmenu .current-menu-parent .dropdown-menu .current-menu-item>a{
	font-weight: 600 !important;
}

#menu-mainmenu>.menu-item-has-children>.dropdown-menu>.menu-item-has-children>.dropdown-menu{
	width: 1110px;
	top: 160px;
	left: -816px;
	border-top: 1px solid black;
	/* border-bottom: 1px solid black; */
	border-radius: 0px;
}

#menu-mainmenu a{
	width: 200px;
	color: black !important;
}

#menu-mainmenu a:hover{
	background-color: white;
	color: black !important;
	font-weight: 600;
}

#menu-mainmenu .dropdown > .dropdown-toggle:after,
#menu-mainmenu .dropdown > .dropdown-toggle:after {
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
    border-top: 0.3em solid transparent;
    border-right: 0;
}

#menu-mainmenu .dropdown.show > .dropdown-toggle:after,
#menu-mainmenu .dropdown.open > .dropdown-toggle:after {
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
    border-bottom: 0;
}

}



/* Typography */

body,
button,
input,
select,
textarea {
	color: #333;
	font-family: "Arial Narrow",Arial,sans-serif;
	font-size: 16px;
	line-height: 1.3;
}

/* Image Gallery */

 div.huge_it_slideshow_dots_container_gallery_1 div.huge_it_slideshow_dots_thumbnails_gallery_1{
	display: none !important;
}

div.huge_it_slideshow_description_text_gallery_1{
	font-size: 24px !important;
	padding: 2rem;
}



/* Single Pages */

/* Aktuelles, Kategorien */

body.blog .page-title{
	display: block !important;
}

body.blog #main>header{
	height: 100px;
	width: 100%;
}

body.blog article,
body.archive article{
	margin-bottom: 3rem !important;
	padding-bottom: 1rem;
	border-bottom: 1px solid black;
}

body.blog article:last-of-type,
body.archive article:last-of-type{
	margin-bottom: 2rem !important;
}

body.archive .page-header{
	border-bottom: none;
	margin-top: 0px;
}



/* Jobs */

.job-intro{
	border-bottom: 1px solid #333;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}


/* Projekte Accordion */

.table-heading{
	font-size: 20px;
	font-weight: 600;
}

body #accordion .spalten,
.spalten{
	display: flex;
}

.spalten > div{
	flex: 1;
}

.spalten > div+div{
	text-align:center;
}

.spalten > div+div+div{
	text-align:right;
}

body #accordion .card-block{
	padding: 1.25rem 0rem 0.5rem 0rem;
	margin-bottom: 0.5rem;
	border-bottom: 1px solid #333;
}

body #accordion .spalten>p{
	display: none;
}

body #accordion>.card{
	border: none;
	border-radius: 0;
	background-color: transparent;
	padding-bottom: 0.6rem;
}

body #accordion .card img{
	padding-bottom: 1rem;
}

body #accordion>.card p{
	margin: 0px;
}

body #accordion>.card:first-child{
	margin-top: 1rem;
}

body #accordion>.card>.card-header{
	background-color: transparent;
	border: none;
	padding: 0px;
}

body #accordion>.card a{
	color: #333;
	font-family: "Arial Narrow",Arial,sans-serif;
	font-size: 18px;
	line-height: 1.3;
	text-decoration: none;
}

body #accordion>.card a:hover{
	font-weight: 600;
}


/* Veröffentlichungen */

.veroeffentlichung>.row{
	padding-bottom: 2rem;
}

.veroeffentlichung-links{
	padding-top: 1rem;
	border-top: 1px solid #333;
}

.veroeffentlichung-footer{
	padding-top: 1rem;
	border-top: 1px solid #333;
}


/* Novum */


/* Kontakt */

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"]{
	font-size: 1.3rem;
	font-weight: 400;
}


/* Footer */

footer#colophon{
	background-color: #fff;
	text-align: left;
}

footer#colophon .footer-link-right{
	float: right !important;
}

div.site-info{
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px solid #333;
}



/*
body{
	background-color: red;
}
